<form>
  <div class="mb-3">
    <label for="fName" class="form-label">First Name</label>
    <input type="text" class="form-control" id="fName" name="fName" aria-describedby="emailHelp"
           (change)="handlePersonUpdate($event)">
  </div>
  <div class="mb-3">
    <label for="lName" class="form-label">Last name</label>
    <input type="text" class="form-control" id="lName" name="lName" (change)="handlePersonUpdate($event)">
  </div>
  <div class="mb-3">
    <label for="job" class="form-label">Job</label>
    <input type="text" class="form-control" id="job" name="job" (change)="handlePersonUpdate($event)">
  </div>
  <div class="mb-3">
    <label for="path" class="form-label">Path</label>
    <input type="text" class="form-control" id="path" name="path" (change)="handlePersonUpdate($event)">
  </div>

</form>
